[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Bolstad"]
	path = Bolstad
	url = https://github.com/cran/Bolstad
[submodule "Bolstad2"]
	path = Bolstad2
	url = https://github.com/jmcurran/bolstad2
	subdir = Bolstad2
[submodule "Hotelling"]
	path = Hotelling
	url = https://github.com/jmcurran/hotelling
[submodule "comparison"]
	path = comparison
	url = https://github.com/jmcurran/comparison
[submodule "dafs"]
	path = dafs
	url = https://github.com/cran/dafs
[submodule "fitPS"]
	path = fitPS
	url = https://github.com/jmcurran/fitps
[submodule "jaggR"]
	path = jaggR
	url = https://github.com/jmcurran/jaggr
[submodule "multicool"]
	path = multicool
	url = https://github.com/jmcurran/multicool
[submodule "multimix"]
	path = multimix
	url = https://github.com/jmcurran/multimix
[submodule "relSim"]
	path = relSim
	url = https://github.com/jmcurran/relsim
[submodule "s20x"]
	path = s20x
	url = https://github.com/cran/s20x
[submodule "tfer"]
	path = tfer
	url = https://github.com/cran/tfer
