[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Bolstad2"]
	path = Bolstad2
	url = https://github.com/jmcurran/bolstad2
	shallow = true
	subdir = Bolstad2
	registered = true
[submodule "Hotelling"]
	path = Hotelling
	url = https://github.com/jmcurran/hotelling
	shallow = true
	registered = true
